*
{
    box-sizing: border-box;
}

body{
	background-color: #02a1f7;
	font-family: Source Sans,Arial;
	color: white;
	text-align: center;
}
button{
	background-color: 	#f20232;
	color: white;
	border-radius: 20px;
	border-color: #1d80e2;	
	padding: 10px;
	max-width: 400px;
	font-size: 20px;
}
table{
	table-layout: auto;
	width: 100%;
	margin: auto;
	border: 3px solid black;
	border-radius: 10px;
	padding: 2px; 
	text-align: center;
}
td,th
{
    border:1px solid black;
    border-radius: 2px;
}
.id={
	max-width: 10px;
}
#myInput{
	display: none;
	margin: auto;
	margin-bottom: 12px;
	padding: 12px ;
}
#tab{
	background-color: #1d80e2;
	max-width: 500px;
	margin: auto;
	box-shadow:0 0 10px 0 slategrey;
	border-radius: 10px;
	align-content: center;
}
caption{
	font-size: 30px;
	margin-bottom: 12px;
}